<h1 class="text-center">Welcome User!</h1>
<div class="maincontainer">
    <div class="subcontainer">
        <h6>Total Customers:</h6>
        <div>
            <p>4 has been processed!</p>
        </div>
    </div>
    <div class="subcontainer">
        <h6>Active Customers:</h6>
        <div>
            <p>4 has been processed!</p>
        </div>
    </div>
    <div class="subcontainer">
        <h6>Pending Customers:</h6>
        <div>
            <p>4 has been processed!</p>
        </div>
    </div>
    <div class="subcontainer">
        <h6>Cancelled Customers:</h6>
        <div>
            <p>4 has been processed!</p>
        </div>
    </div>
   
</div>